{% extends 'NPFinal/base.html' %}
{% block body %}<body class="contact-page">{% endblock %}
{% block content %}
<div style="margin-left: 30%;">
	<div>
		<div class="box">
			<div class="box-icon">
				<img src={{ src }} alt="Image" class="img-responsive">
			</div>
			<div class="info float-container">
							<a class="hashtag" href="">{{ tag }}</a>
				 <div class="col-sm-12 location-main"> 
						<div class="pull-right user-icons">
							<a href="#"><i class="fa fa-star fa-2x"></i></a>
						</div>
				</div>
			</div>
			<div>
				<!-- {% for k,v in comments %}
				<div class="comment-block">
					<div class="comment-author">
						<p style="text-decoration: dotted;">{{k}}</p>
					</div>
					<div class="comment-msg">
						<p>{{v}}</p>
					</div> 

				</div> 
				{% endfor %} -->

				</div>   
			</div>
			<div class="comment-block">
				<textarea id="comments">Leave comments...</textarea>
				<button type="button" id="sendcom" style="width: 20%" onclick="comment();">send</button>
			</div>    
		</div>    
			 
	</div>
</div>
{% endblock %}
